<header id="header" role="banner">

<div class="collapse navbar-white" id="header-search-form">
        <div class="container">
            <form class="navbar-form animated fadeInDown" >
                <input type="search" id="s" name="s" class="form-control" placeholder="Search in here...">
                <button type="submit" class="btn-circle" title="Search"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- End .container -->
    </div><!-- End #header-search-form -->
    <nav class="navbar navbar-white animated-dropdown ttb-dropdown" role="navigation">


        <div class="navbar-inner sticky-menu">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle btn-circle pull-right collapsed" data-toggle="collapse" data-target="#main-navbar-container">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand text-uppercase" href="index.shtml" title="cerseals">cerseals</a>

                    <button type="button" class="navbar-btn btn-icon btn-circle pull-right last visible-sm visible-xs" data-toggle="collapse" data-target="#header-search-form"><i class="fa fa-search"></i></button>



                </div><!-- End .navbar-header -->

                <div class="collapse navbar-collapse" id="main-navbar-container">
                    <ul class="nav navbar-nav">
                        <li class="visible-lg"><a href="index.shtml">Home</a></li>
                        <li class="dropdown">
                            <a href="products.shtml" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products<span class="angle"></span></a>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="product-seal-rings.shtml"><i class="fa fa-angle-right"></i>Seal Rings</a></li>
                                <li><a href="product-rubber.shtml"><i class="fa fa-angle-right"></i>Rubber Parts</a></li>
                                <li><a href="product-ptfe-parts.shtml"><i class="fa fa-angle-right"></i>PTFE Parts</a></li>

                            </ul>
                        </li>
                        <li class="visible-lg"><a href="faqs.shtml">FAQ</a></li>
                        <li class="visible-lg"><a href="contact.shtml">Contact Us</a></li>
                    </ul>

                    <button type="button" class="navbar-btn btn-icon btn-circle navbar-right last  hidden-sm hidden-xs" data-toggle="collapse" data-target="#header-search-form"><i class="fa fa-search"></i></button>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </div><!-- End .navbar-inner -->
    </nav>
</header>