<aside class="col-md-3 col-md-pull-9 sidebar" role="complementary">

    <div class="widget">
        <h3>Products</h3>
        <ul class="links">
            <li><a href="product-seal-rings.shtml"><i class="fa fa-angle-right"></i>Seal Rings</a></li>
            <li><a href="product-rubber.shtml"><i class="fa fa-angle-right"></i>Rubber Parts</a></li>
            <li><a href="product-ptfe-parts.shtml"><i class="fa fa-angle-right"></i>PTFE Parts</a></li>

        </ul>
    </div><!-- End .widget -->

    <!--<div class="widget">-->
        <!--<h3>TagCloud</h3>-->
        <!--<div class="tagcloud clearfix">-->
            <!--<a href="#">Bootstrap</a>-->
            <!--<a href="#">Wordpress</a>-->
            <!--<a href="#">Html5</a>-->
            <!--<a href="#">Css3</a>-->
            <!--<a href="#">Jquery</a>-->
            <!--<a href="#">Multipurpose</a>-->
            <!--<a href="#">Corporate</a>-->
            <!--<a href="#">Creative</a>-->
        <!--</div>&lt;!&ndash; End .tagcloud &ndash;&gt;-->
    <!--</div>&lt;!&ndash; End .widget &ndash;&gt;-->

</aside><!-- End .col-md-3 -->