<footer id="footer" role="contentinfo">
    <div id="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="widget">
                        <div class="corporate-widget">
                            <span class="footer-logo">Cerlands</span><!-- End .footer-logo -->
                            <p>Cerlands specializes in supplying wear solutions and refractory solutions.</p>

                            <address>

                                Email: <a href="mailto:info@cerlands.com">info@cerlands.com</a><br>
                                Floor3, No. 18 Baoding Road, Shinan District, Qingdao, Shandong, China<br><br>
                                <!--<abbr title="">Cerlands</abbr> &copy;-->
                            </address>

                            <span class="social-icons-label">Find Us at:</span>
                            <div class="social-icons">
                                <a href="#" class="social-icon icon-facebook" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="social-icon icon-twitter" title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social-icon icon-google-plus" title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#" class="social-icon icon-skype" title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                                <a href="#" class="social-icon icon-linkedin" title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div><!-- End .social-icons -->

                        </div><!-- End corporate-widget -->
                    </div><!-- End .widget -->
                </div><!-- End .col-md-3 -->
                <div class="col-md-4">


                    <div class="widget">
                        <h3>Products</h3>
                        <ul class="links">
                            <li><a href="product-sic-seal-rings.shtml"><i class="fa fa-angle-right"></i>Seal Rings</a></li>
                            <li><a href="product-sic-wear-parts.shtml"><i class="fa fa-angle-right"></i>Wear Parts(Bushing, bearing etc.)</a></li>
                            <li><a href="product-sic-liner.shtml"><i class="fa fa-angle-right"></i>Liner</a></li>
                            <li><a href="product-air-cooling-pipe.shtml"><i class="fa fa-angle-right"></i>Air cooling pipe</a></li>
                            <li><a href="product-sic-beam.shtml"><i class="fa fa-angle-right"></i>Beam</a></li>
                            <li><a href="product-sic-burner.shtml"><i class="fa fa-angle-right"></i>Burner</a></li>
                            <li><a href="product-sic-nozzle.shtml"><i class="fa fa-angle-right"></i>Nozzle</a></li>
                            <li><a href="product-sic-roller.shtml"><i class="fa fa-angle-right"></i>Roller</a></li>
                        </ul>
                    </div><!-- End .widget -->

                </div><!-- End .col-md-3 -->

                <!--<div class="clearfix visible-sm"></div>&lt;!&ndash; End .clearfix &ndash;&gt;-->


                <!--<div class="col-md-4">-->
                    <!--<div class="widget">-->
                        <!--<h4>Twitter Feed</h4>-->
                        <!--<div class="twitter-feed-widget">-->

                        <!--</div>&lt;!&ndash; End .twitter-feed-widget &ndash;&gt;-->
                    <!--</div>&lt;!&ndash; End .tagcloud &ndash;&gt;-->
                <!--</div>&lt;!&ndash; End .col-md-34 &ndash;&gt;-->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #footer-inner -->
    <div id="footer-bottom" class="no-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <ul class="footer-menu">
                        <li><a href="products.shtml">Products</a></li>
                        <li><a href="faqs.shtml">Faqs</a></li>
                        <li><a href="contact.shtml">Contact Us</a></li>
                    </ul>
                </div><!-- End .col-md-6 -->
                <!--<div class="col-md-6 col-md-pull-6">-->
                    <!--<p class="copyright">Designed and Developed by HongBao  All rights reserved. &copy; </p>-->
                <!--</div>&lt;!&ndash; End .col-md-6 &ndash;&gt;-->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #footer-bottom -->
</footer><!-- End #footer -->
