<header id="header" role="banner">
    <div class="collapse navbar-white" id="header-search-form">
        <div class="container">
            <form class="navbar-form animated fadeInDown" >
                <input type="search" id="s" name="s" class="form-control" placeholder="Search in here...">
                <button type="submit" class="btn-circle" title="Search"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div><!-- End #header-search-form -->
    <nav class="navbar navbar-white animated-dropdown btt-dropdown" role="navigation">


        <div class="container">
            <div class="navbar-header fullwidth">

                <button type="button" class="navbar-toggle btn-circle pull-right collapsed" data-toggle="collapse" data-target="#main-navbar-container">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand text-uppercase clear-padding-left" href="index.shtml" title="Boss - Multipurpose Premium Html5 Template">Boss</a>

                <button type="button" class="navbar-btn btn-icon btn-circle pull-right last" data-toggle="collapse" data-target="#header-search-form"><i class="fa fa-search"></i></button>


            </div><!-- End .navbar-header -->
        </div><!-- /.container-fluid -->
        <div class="collapse navbar-collapse collapse-row sticky-menu" id="main-navbar-container">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li class="visible-lg"><a href="index.shtml">Home</a></li>
                    <li class="dropdown">
                        <a href="products.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products<span class="angle"></span></a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="contact.html">Contact - Version 1</a></li>
                            <li><a href="contact2.html">Contact - Version 2</a></li>
                            <li><a href="contact3.html">Contact - Version 3</a></li>
                            <li><a href="contact4.html">Contact - Version 4</a></li>
                            <li><a href="contact5.html">Contact - Version 5</a></li>
                            <li><a href="contact6.html">Contact - Version 6</a></li>
                            <li><a href="contact7.html">Contact - Version 7</a></li>
                            <li><a href="contact8.html">Contact - Version 8</a></li>
                            <li><a href="contact9.html">Contact - Version 9</a></li>
                            <li><a href="contact10.html">Contact - Version 10</a></li>
                        </ul>
                    </li>
                    <li class="visible-lg"><a href="faqs.html">FAQ</a></li>
                    <li class="visible-lg"><a href="contact.html">Contact Us</a></li>


                </ul>
            </div><!-- End .container -->
        </div><!-- /.navbar-collapse -->
    </nav>
</header><!-- End #header -->