<div class="page-header white larger larger-desc">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Product <small class="hidden-xs"></small></h1>
                <p class="page-header-desc"></p>
            </div><!-- End .col-md-6 -->
            <!--<div class="col-md-6">-->
                <!--<ol class="breadcrumb">-->
                    <!--<li><a href="index.shtml">Home</a></li>-->
                    <!--<li><a href="category.shtml">Category</a></li>-->

                    <!--&lt;!&ndash;&lt;!&ndash;#set var="PRODUCT_NAME" value="SIC BURNER"&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;<li class="active">&lt;!&ndash;#echo var="PRODUCT_NAME"&ndash;&gt;&ndash;&gt;-->

                    <!--</li>-->
                <!--</ol>-->
            <!--</div>&lt;!&ndash; End .col-md-6 &ndash;&gt;-->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .page-header -->
