<div class="product text-center">
    <div class="product-top">
        <figure>
            <a href="product-air-cooling-pipe.shtml" title="Air cooling pipe">
                <img src="assets/products/air-cooling-pipe/pipe1.jpg" alt="Air cooling pipe" class="product-image">
                <img src="assets/products/air-cooling-pipe/pipe1.jpg" alt="Air cooling pipe" class="product-image-hover">
            </a>
        </figure>
        <div class="product-action-container product-action-animate">
            <a href="#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

            <a href="#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

            <a href="#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
        </div><!-- end .product-action-container -->
    </div><!-- End .product-top -->
    <h3 class="product-title"><a href="product-air-cooling-pipe.shtml" title="Product Title">Air cooling pipe</a></h3>

</div><!-- End .product -->