<div class="product text-center">
    <div class="product-top">
        <span class="product-box new-box new-box-border">New</span>
        <figure>
            <a href="product-sic-seal-rings.shtml" title="Seal rings">
                <img src="assets/products/seal-rings/seal-rings1.png" alt="Sic rings" class="product-image">
                <img src="assets/products/seal-rings/seal-rings1.png" alt="Sic rings" class="product-image-hover">
            </a>
        </figure>
        <div class="product-action-container product-action-animate">
            <a href="#" class="btn btn-dark add-to-favorite" title="Add to favorite"><i class="fa fa-heart"></i></a>

            <a href="#" class="btn btn-dark add-to-wishlist" title="Add to wishlist"><i class="fa fa-gift"></i></a>

            <a href="#" class="btn btn-dark quick-view" title="Quick View"><i class="fa fa-search-plus"></i></a>
        </div><!-- end .product-action-container -->
    </div><!-- End .product-top -->
    <h3 class="product-title"><a href="product-sic-wear-parts.shtml" title="Product Title">Seal rings</a></h3>

</div><!-- End .product -->